@import '~antd/dist/antd.css';

body {
    background-color: #f7f7f7;
}

.text-center {
    text-align: center;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.container {
    display: block;
    width: 100%;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.container-fluid {
    display: block;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.responsive-image {
    width: 100%;
    height: auto;
}

.navigation-header {
    display: flex;
    flex-direction: row;
    background-color: #ffffff;
    padding: 15px;
}

.navigation-header-left {
    display: flex;
    flex: 1;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.navigation-header-left .search-input {
    width: 300px;
    margin-left: 20px;
}

.navigation-header-right {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

.navigation-header-right .cart-icon {
    font-size: 25px;
}

.navigation-header-right .user-icon {
    width: 30px;
    margin-left: 20px;
}

.mt-10 {
    margin-top: 10px;
}

.mt-20 {
    margin-top: 20px;
}

.mt-30 {
    margin-top: 30px;
}

.mt-50 {
    margin-top: 50px;
}

.mt-100 {
    margin-top: 100px;
}

.mb-20 {
    margin-bottom: 30px;
}

.mb-30 {
    margin-bottom: 30px;
}

.mr-10 {
    margin-right: 10px;
}

.p-10 {
    padding: 10px;
}

.p-20 {
    padding: 20px;
}

.ph-20 {
    padding-left: 20px;
    padding-right: 20px;
}

.orange-text {
    color: #f55d2c;
}

.gray-text {
    color: #c7c7c7;
}
